
.about {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(236, 236, 236));
}
.about-banner {
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: large;
    word-break: keep-all;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: linear-gradient(to right, rgb(21, 47, 162), rgb(31, 31, 31));
    margin-bottom: 1rem;
    box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.253);
    text-shadow: 1px 1px 30px rgb(139, 139, 139);
    border-bottom: 1px solid rgb(222, 4, 4);
    border-top: 1px solid black;
}



.about p  {
    width: 70%;
    margin: 2rem auto 0 auto;
    padding: 1rem 7px 3rem 7px;
    border-radius: 15px;
    text-align: left;
    font-size: large;
}

.services p  {
    width: 70%;
    margin: 2rem auto 0 auto;
    padding: 1rem 15px 3rem 15px;
    border-radius: 15px;
    text-align: left;
    font-size: large;
}


.services {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    background-image: linear-gradient(to bottom,  rgb(236, 236, 236), rgb(216, 216, 216));
    padding: 0 1rem;
    width: 100%;
    margin: 0 auto;
    padding:  0;
}

.services-container {
    display: flex;
    align-items: top;
    margin: 0 auto;
    text-align: left;
    border-radius: 10px;
    width: 80%;
    flex-wrap: wrap;
    font-size: x-large;
    flex-direction: row;
    padding: 4rem 0;
    letter-spacing: -1px;
    word-spacing: 1px;
}

.services-banner {
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: large;
    word-break: keep-all;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: linear-gradient(to right, rgb(21, 47, 162), rgb(31, 31, 31));
    margin-bottom: 1rem;
    box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.253);
    text-shadow: 1px 1px 30px rgb(139, 139, 139);
    border-bottom: 1px solid rgb(222, 4, 4);
    border-top: 1px solid black;
}




.services-section h6 {
    width: 65%;
    margin: 0 auto;
    text-align: left;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: small;
    padding-left: 5px;
    padding-bottom: 2rem;
}

.services-section a {
    text-decoration: none;
}

.service-we-dont-do {
    color: red;
}



@media only screen and (max-width: 1000px) {
    .about-us-text-container, .services-container {
        width: 100%;
    }
    .about-banner, .services-banner  {
        font-size: xx-large;
    }
    .about-us-text-container p, .services-container p {
        font-size: medium;
    }
    .services p, .about p {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }
}


@media only screen and (max-width: 600px) {
    .about-banner, .services-banner {
        font-size: x-large;
    }
    .about-us-text-container p, .services-container p {
        font-size: small;
    }
    .about p, .services p {
        font-size: medium;
    }
}

